# Секретные ключи и настройки
.env

# Виртуальное окружение Python
.venv/
venv/
env/

# Временный кэш Python
__pycache__/

# Базы данных (здесь история наших диалогов с агентом)
*.db
*.sqlite
*.json

.serena
.lance
